---
import Layout from '../layouts/Layout.astro';
import MultiStopMap from '../components/MultiStopMap.astro';
---

<Layout title="Ruta con paradas intermedias">
  <main>
    <MultiStopMap />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>