---
import Layout from '../layouts/Layout.astro';
import SimpleRouteMap from '../components/SimpleRouteMap.astro';
---

<Layout title="Ruta entre dos puntos">
  <main>
    <SimpleRouteMap />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
</style>